<html>

<app-bar></app-bar>
<section id="sec1">
    <div class="belt">
        <div class="p-grid p-jc-center">
            <div class="p-col">
                <p>{{introText}}</p>
            </div>
        </div>
    </div>

    <div class="headerTittle">
        <p>Se liga nesses pratos! Os mais pedidos da semana</p>
    </div>

    <div class="p-grid p-jc-center carousel">
        <div class="p-col4">
            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{'max-width': '640px'}" [numVisible]="5" [showThumbnails]="false"
                [showIndicators]="false" [changeItemOnIndicatorHover]="true" [circular]="true" [autoPlay]="true"
                [transitionInterval]="2500">

                <ng-template pTemplate="item" let-item>
                    <img [src]="item.path" style="width: 100%; display: block;" />
                </ng-template>

                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.path" style="display: block;" />
                    </div>
                </ng-template>

            </p-galleria>
        </div>
    </div>
</section>
<section id="sec2">
    <div class="packs">
        <div class="tittle">
            <p>Confira também os pacotes de compras agendadas</p>
        </div>

        <div class="p-grid p-jc-center desc">

            <div class="p-col-2 first">
                <p>PRIMEIRO PRATO</p>
                <img src="../../../assets/images/comida1.png" style="width: 90%;">
                <div class="descText">
                    {{text1}}
                </div>
            </div>

            <div class="p-col-2 second">
                <p>SEGUNDO PRATO</p>
                <img src="../../../assets/images/comida2.png" style="width: 100%;">
                <div class="descText">
                    {{text1}}
                </div>
            </div>

            <div class="p-col-2 third">
                <p>TERCEIRO PRATO</p>
                <img src="../../../assets/images/comida3.png" style="width: 90%;">
                <div class="descText">
                    {{text1}}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sec3">
<div class="about">
    <div class="p-grid p-jc-center">
        <div class="p-col-5">
            <div class="aboutTittle">
                Um pouco sobre o Bella
            </div>
            <div class="aboutText">
                <p>
                    {{aboutText}}
                </p>
                <img src="../../../assets/images/about.png">
            </div>
        </div>
    </div>
</div>
</section>

</html>