$color0: #f7f7f7;
$color1: #DEECC6;
$color2: #BDD57A;
$color3: #226900;
$color4: #333333;

.ramo_background{
    top: 29%;
    position: absolute;
}

.headerTittle p{    
    text-align: center;
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
    font-family: 'Allura'!important;
    color: $color3;
    font-size: 65px;
}

.belt{
    margin-top: 8%;
    background-color: $color2;
    height: 100px;
    text-align: center;
    
    line-height: 90px;
    text-align: center;
}

.belt p{
    font-size: 20px;
    color: $color4;
    font-family: 'Gidole';    
    
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.carousel{
    background-image: url("../../../assets/images/ramo2.png");
    background-repeat: no-repeat;
    background-color: transparent!important;
    margin-top: 1%;
}

h3{
    text-align: center;
    font-family: 'OpenSans'!important;
    font-size: 30px;
    color: $color3;
}

.packs{
    background-image: url('../../../assets/images/ramo2inv.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 150px;
    margin-top: 3%;
}

.tittle{
    text-align: center;
    // font-size: 40px;
    // font-family: 'Allura';
    // color: $color4;
    font-family: 'Allura'!important;
    color: $color3;
    font-size: 75px;
}

.desc{
    text-align: center;
    margin-top: 1%;
}

.descText{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}

.desc p{
    margin-top:5%;
    font-family: 'OpenSans';
    font-size: 30px;
}

.first{
    background-color: $color2;
}

.second{
    background-color: $color1;
    padding: 10px;
}

.third{
    background-color: $color2;
}

.about{
    text-align: center;
    margin-top: 3%;
    background-image: url('../../../assets/images/folha.png');
    background-repeat: no-repeat;
    background-position-y: 150px;
}

.aboutText{
    font-family: 'Gidole';
    color: $color4;
    font-size: 30px;
    letter-spacing: .2rem;
}

.aboutTittle{
    font-family: 'Allura'!important;
    color: $color3;
    font-size: 75px;
}

.about .aboutText img{
    margin-top: 5%;
}