$color0: #f7f7f7;
$color1: #DEECC6;
$color2: #BDD57A;
$color3: #226900;

@font-face {
    font-family: 'Allura';
    src: url('../src/assets/fonts/allura/Allura-Regular.ttf');
}

@font-face {
    font-family: 'Gidole';
    src: url('../src/assets/fonts/gidole/Gidole-Regular.ttf');
}

//tira as bordas do navegador
html
{
  box-sizing: border-box;
  background-color: #f7f7f7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}
//tira as bordas do navegador